POSTGRES_PASSWORD=change-me
PLATFORM_BOOTSTRAP_ADMIN_ACCOUNT=admin
PLATFORM_BOOTSTRAP_ADMIN_EMPLOYEE_NO=000001
PLATFORM_BOOTSTRAP_ADMIN_NAME=系统管理员
PLATFORM_BOOTSTRAP_ADMIN_PASSWORD=change-me
PLATFORM_BOOTSTRAP_ENTERPRISE_CODE=default
PLATFORM_BOOTSTRAP_ENTERPRISE_NAME=默认企业
PLATFORM_BOOTSTRAP_RESET_ADMIN_PASSWORD=false
OPENIM_API_BASE_URL=http://openim-server:10002
OPENIM_ADMIN_USER_ID=imAdmin
OPENIM_ADMIN_SECRET=change-me
OPENIM_WEBHOOK_SECRET=change-me
